In [2]:
# Ini Komentar
print("Ini adalah komentar") #tidak akan ter print

Ini adalah komentar

In [3]:
X = 1
x = 1
y = "klein"
print(X)
print(x)
print(y)

1
1
klein

In [4]:
x = str(3)
y = int(3)
z = float(3)

print(x,y,z)

3 3 3.0

In [5]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
# Str bisa dibuat menggunakan " " atau '' 
x = "Klein"
y = 'Klein' #tidak recomended biasanya error kalau nulis aphostrhopy

print(x, y)

Klein Klein

In [7]:
x,y,z = "Orange", "Bannana", "Cherry"
print(x)
print(y)
print(z)

Orange
Bannana
Cherry

In [8]:
z = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [4]:
fruits = ["Apple", "Bannana", "Cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

Apple
Bannana
Cherry

In [5]:
fruits = {"Apple", "Bannana", "Cherry","Cherry" }
x,y,z,w = fruits
print(x)
print(y)
print(z)
print(w)

ValueError: not enough values to unpack (expected 4, got 3)

In [6]:
fruits = ["Apple", "Bannana", "Cherry", "Cherry"]
x,y,z, w = fruits
print(x)
print(y)
print(z)
print(w)

Apple
Bannana
Cherry
Cherry

In [7]:
# Print multiple variable using,
x = "Python"
y = "is"
z = "awsome"
print(x,y,z)
print(x+y+z)

Python is awsome
Pythonisawsome

In [8]:
x = 5
y = 10
print(x+y)

15

In [9]:
print(x + "Hahahahah")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
x = 'Hallo'
x

'Hallo'

## Format

In [17]:
num = 20
name = "Jhon Doe"
print("my number is: num, and my name is: name")

print("my number is: {num}, and my name is: {name}")
print("my number is: {one}, and my name is: {two}".format(one=num, two=name))
print("my number is: {}, and my name is: {}".format(num, name))

my number is: num, and my name is: name
my number is: {num}, and my name is: {name}
my number is: 20, and my name is: Jhon Doe
my number is: 20, and my name is: Jhon Doe
my number is: 20, and my name is: Jhon Doe

## F-String

In [20]:
age = 20
name = "Novan"
print("my age is: {age}, and my name is: {name}")
print(f"my age is: {age}, and my name is: {name}")

my age is: {age}, and my name is: {name}
my age is: 20, and my name is: Novan

## Data Type

- Integer
- Float
- Character
- String
- Bool

In [24]:
print(type(1+1))
print(type(1/2))
print(type('A'))
print(type('Jojo'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

## String operations

In [25]:
a = "Hello World!"
print(a[0:5])

Hello

In [26]:
a = "Hello World!"
print(len(a))

12

In [29]:
a = "Hello World!"
print(a.upper())
print(a.capitalize())
print(a.lower())

HELLO WORLD!
Hello world!
hello world!

In [34]:
a = " Hello World! "
print(a.strip())

Hello World!

In [35]:
a = "Hello-World!"
print(a.replace('-'," "))

Hello World!

In [37]:
a = "Hello, World!"
print(a.split(','))

a = "Hello, World, I'm, Novan"
print(a.split(','))

['Hello', ' World!']
['Hello', ' World', " I'm", ' Novan']

In [38]:
price = "tes"
txt = f"the price is {price} dollars"
print(txt)

the price is tes dollars

In [39]:
price = 59.365
txt = f"the price is {price} dollars"
print(txt)

the price is 59.365 dollars

In [40]:
price = 59.365
txt = f"the price is {price:.1f} dollars"
print(txt)

the price is 59.4 dollars

In [42]:
price = 1000000.325
txt = f"the price is {price:,.1f} dollars"
print(txt)

the price is 1,000,000.3 dollars

## SET & Dict

In [43]:
x = {"apple", "banana"}
print(type(x))

<class 'set'>

In [44]:
x = {"apple" : 32, "banana" : 64}
print(type(x))

<class 'dict'>

In [45]:
x = {"apple", "banana", "apple", "banana","apple", "banana"}
print(type(x))
print(x)

<class 'set'>
{'apple', 'banana'}

## List

In [46]:
[12, 4,5]

[12, 4, 5]

In [48]:
["hi", 1, [1,2]]

['hi', 1, [1, 2]]

In [47]:
my_list = ['a', 'b', 'c']
my_list.append('d')
print(my_list)

['a', 'b', 'c', 'd']

In [49]:
my_list[0]

'a'

In [50]:
my_list[0] = "New"
my_list

['New', 'b', 'c', 'd']

In [51]:
my_list.insert(2, 'New')
my_list

['New', 'b', 'New', 'c', 'd']

In [53]:
my_list.remove('New')
my_list

['b', 'c', 'd']

In [58]:
nest = [1,2,3, [4,5, ['Target']]]
nest[3]

[4, 5, ['Target']]

In [59]:
nest[3][2]

['Target']

In [55]:
nest[3][2][0]

'Target'

## Dictionary

In [73]:
d = {
    'key1' : 'value1',
    'key2' : 'value2',
}

d['key1']

'value1'

In [74]:
d['key2'] = 'value2 new'
d

{'key1': 'value1', 'key2': 'value2 new'}

In [75]:
d['key3'] = 'value3'
d

{'key1': 'value1', 'key2': 'value2 new', 'key3': 'value3'}

In [76]:
d.pop('key2')
d

{'key1': 'value1', 'key3': 'value3'}

In [77]:
d.clear()
d

{}

## Tuple

In [1]:
t = (1,2,3)
t[0]

1

In [4]:
try:
    t[0] = "New"
except Exception as err_: 
    print("Error : ", err_)

Error :  'tuple' object does not support item assignment

## Set

In [5]:
s = {1,2,3,3}
s

{1, 2, 3}

In [8]:
u = {4,5,6}
s.update(u)
print(s)

{1, 2, 3, 4, 5, 6}

In [9]:
s.remove(4) #bukan delete index tapi value 4
s

{1, 2, 3, 5, 6}

In [11]:
p = {"la", "lala", "lalala"}
p.remove("la")
p

{'lala', 'lalala'}

## Comparition Operator

In [12]:
1>2

False

In [13]:
1 <= 2

True

In [19]:
"BYE" == 'bye'

False

In [20]:
"BYE" < 'bye'

True

## Logic Operator

In [26]:
(1>2) and (2<3)

False

In [28]:
(1>2) & (2<3)

False

In [ ]:
(1>2) or (2<3)

In [29]:
(1>2) | (2<3)

True

In [31]:
True ^ True #XOR harus salah satu yang true, kalau or bisa dua2nya true

False

## Conditional

In [32]:
if 3 < 2:
    print("yep!")

In [34]:
if 3 < 2:
    print("first")
else:
    print("second")

second

## Loop

In [35]:
seq = [1,2,3,4,5]

In [36]:
for item in seq:
    print(item)

1
2
3
4
5

In [37]:
for item in seq:
    print("Yep")

Yep
Yep
Yep
Yep
Yep

In [38]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i+=1

i is: 1
i is: 2
i is: 3
i is: 4

## Range

In [39]:
range(10)

range(0, 10)

In [40]:
for i in range(11): #11 tidak masuk hitungan, index dimulai dari 1
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [41]:
list(range(5))

[0, 1, 2, 3, 4]

In [43]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

## List Comprehension

In [44]:
x = [1,2,3,4]

In [45]:
lalala = []
for lululu in x:
    lalala.append(lululu**2)
print(lalala)

[1, 4, 9, 16]

In [47]:
[item**2 for item in x]

[1, 4, 9, 16]

In [48]:
y = {"satu" : 1, "dua" : 2, "tiga" : 3}
z = {key: "lalala" for key in y.keys()}
z

{'satu': 'lalala', 'dua': 'lalala', 'tiga': 'lalala'}

## Function

In [50]:
def my_func(param1='default', param2="abc"):
    """
    Function buat latihan
    """
    print(param1, param2)

In [51]:
my_func

In [52]:
my_func()

default abc

In [54]:
my_func.__doc__

'\n    Function buat latihan\n    '